
<div id="chatroom_container" class="row bg-dark text-light">
  <div id="side_panel" class="col-md-3 col-sm-3">
    <h5>Welcome <%= current_user.name %>!</h5>
    <h4> Chats <%= link_to 'search user', search_path, class: "btn btn-outline-secondary" %> </h4>
    <div id="chats">
      <% @user_names.each do |usr| %>
        <div class="d-grid gap-2">
          <%= render 'rooms/room', user: usr %>
        </div>
      <% end %>
    </div>
    <h4>All Users</h4>
    <%= turbo_stream_from 'users' %>
    <div id="users" class="d-grid gap-2">
      <%= render @users %>
    </div>
  </div>
  <div id="room_container"
       class="col-md-9 col-sm-9 bg-dark text-light">
    <% if @chat_room %>
      <div id="single_room">
        <h4 class="text-center"> <%= @user&.name || @chat_room.name %> </h4>
        <%= turbo_stream_from @chat_room %>
        <div id="messages" data-controller="scroll">
          <%= render @messages %>
        </div>
        <%= render 'layouts/new_message_form' %>
      </div>
    <% end %>
  </div>
</div>